only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=@xenova/transformers
only-built-dependencies[]=onnxruntime-node
only-built-dependencies[]=pdf-parse
only-built-dependencies[]=mammoth
